extends layout

block content
  h1.my-3= "Web Scraping Test"

  form(method='get' action='/')
    div.input-group(style={width: '500px'})
      input.form-control(type='text' name='url' value=url)
      div.input-group-append
        button.btn.btn-outline-secondary(type='submit') scrap it !

  div.mt-3
    p title : #{title}
    p image : #{image}
    p description : #{description}
    div.card-text #{description}

  div.d-flex
    div
      h3.mt-5.mb-3 Card
      div.card(style={width: '320px'})
        img.card-img-top(src=image)
        div.card-body(style={background: background, color: color})
          span.icon
            img(src=icon)
          h5.mt-4.card-title #{title}
          div.card-text #{description}
    div.ml-5
      h3.mt-5.mb-3 Card(Cover)
      div.card.cover(style={width: '320px'})
        img.card-img-top(src=image)
        div.overlay(style={background: background, opacity: 0.7})
        div.card-body(style={color: color})
          span.icon
            img(src=icon)
          h5.card-title #{title}
          div.card-text #{description}

  h3.mt-5.mb-3 Color
  div.card(style={width: '120px', background: background, 'text-align':'center'})
    div.card-body(style={color: color})  #{color}
